<h3>(GET) /api/users</h3> (list users) -> return array of json
<h3>(GET) /api/users/1</h3>  (get user by id)  -> return json object
<h3>(POST) /api/users</h3>   (post user) -> ส่ง json object มาบันทึกข้อมูลลง db ได้